
@{
    Layout = null;
}

<!doctype html>
<html class="no-js " lang="en">

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Jul 2020 12:41:19 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Signin.">

    <title>Forgot Password</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/images/Logo/Group 49225.png"> <!-- Favicon-->
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/authentication.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
</head>

<body class="theme-cyan authentication sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-translate n_logo">

                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>

        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header">

        <div class="page-header-image" style="background-image:url(/assets/images/lg/Backgorund.jpg)"></div>
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="card-plain">
                    <form class="form" method="" action="#">
                        <div class="header">
                            <div class="logo-container" style="margin-right: 124px;">
                                <img src="~/assets/images/Logo/Group 49225.png" />
                            </div>
                            <h5>Forgot Password?</h5>
                            <span>Enter your e-mail address below to reset your password.</span>
                        </div>
                        <div class="content">
                            <div class="input-group input-lg">
                                <input type="text" class="form-control" placeholder="Enter Email">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-email"></i>
                                </span>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <a href="@Url.Action("SignIn","Login")" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">SUBMIT</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery Core Js -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script>
        $(".navbar-toggler").on('click', function () {
            $("html").toggleClass("nav-open");
        });
    </script>
</body>

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Jul 2020 12:41:19 GMT -->
</html>