@inject piano_pizza.Resources.LocalizationService local
@using Entities;
<!DOCTYPE html>
<html lang="en" class="no-js no-svg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content='Piano Pizza'>
    <meta name="description" content="Pizza">
    <meta name="keywords" content="Pizza">
    <title>Piano Pizza</title>
    <link rel="stylesheet" href="/assets/css/vendor.mind652.css?v=1557174151243">
    <link rel="stylesheet" href="/assets/css/styles.mind652.css?v=1557174151243">
    <link rel="stylesheet" href="/assets/css/customd652.css?v=1557174151243">
    <link rel="stylesheet" href="/custom/custom.css">
    <link href="~/assets/toast/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/toast/toastr-custom.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kalam:700|Oswald:400,500,700|Open+Sans:300,400&amp;v=1557174088386" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/app-images/cropped-b-black-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="PianoPizza">
    <link rel="shortcut icon" href="/app-images/cropped-b-black-180x180.png">
    <script src="/assets/js/vendor.mind652.js?v=1557174151243"></script>

</head>
<body class="active-pageloader entertainment restaurant header-sticky hide-on-scroll header-logo-left footer-widgets footer-background dark-color widget-7 header-transparent submenu-show-arrow-right menu-is-uppercase submenu-is-capitalized logo-text-is-capitalized page-header-logo-left">
    <!-- Loader -->
    <div class="customloader"></div>
    <!-- Loader End -->
    <div id="site-wrap" class="site">
        <div id="header-wrap" class="is-clearfix">
            <header id="header" class="site-header">
                <div id="header-inner" class="site-header-inner container">
                    <div class="level">
                        <div class="level-left">
                            <div id="header-logo" class="site-logo ">
                                <div id="logo-inner" class="site-logo-inner">
                                    <a href="@Url.Action("Index","Home")" class="defaultImage">
                                        <img alt="Piano" src="/app-images/Piano-b-white.png">
                                    </a>
                                    <a class="stickyImage">
                                        <img alt="Piano" src="/app-images/Piano-b-black.png">
                                    </a>
                                </div>
                                <!-- #logo-inner -->
                            </div>
                            <!-- #header-logo -->
                        </div>
                        <!-- .level-left -->
                        <div class="level-right">
                            <div class="nav-wrap">
                                <nav class="main-navigation right">
                                    <ul class="menu" id="ul_menu">
                                    </ul>
                                </nav>
                                <!-- #site-navigation -->
                            </div>
                            <!-- #nav-wrap -->
                        </div>
                        <!-- .level-right -->
                    </div>
                    <!-- .level -->
                </div>
                <!-- #header-inner -->
            </header>
            <!-- #header -->
        </div>
        @RenderBody()
        <div id="footer-wrap" class="is-clearfix">
            <footer id="footer" class="site-footer" style="padding: 14px;">
                <div id="footer-inner" class="site-footer-inner container">
                    <div class="columns is-variable is-4 is-multiline">
                        <div class="column is-4">
                            <div class="widget widget-html" style="text-align: center;">
                                <img src="/app-images/piano-b-logo-2-1024x1024.png" style="width: 195px;" />
                            </div>
                        </div>
                        <div class="columns" id="footerTab">
                            <!-- .column -->
                            <div class="column is-5">
                                <div class="widget widget-links">
                                    <h3 class="widget-title ">Social Links</h3>
                                    <div class="footer-social">
                                        <a id="FBLink" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a id="INSTALink" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                                        <a id="GGLLink" target="_blank" href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </div>
                                </div>
                                <!-- .widget -->
                            </div>
                            <!-- .column -->
                        </div>
                    </div>
                    <!-- .columns -->
                </div>
                <!-- #footer-inner -->
            </footer>
            <!-- #footer -->
        </div>
    </div>
    
    <script src="/assets/js/scripts.mind652.js?v=1557174151243"></script>
    <script src="/assets/js/customd652.js?v=1557174151243"></script>
    <script src="/custom/custom.js"></script>
    <script src="~/assets/number_input/jquery.bootstrap-touchspin.js"></script>
    <script src="~/assets/number_input/form-number-input.min.js"></script>
    <script src="~/assets/toast/toastr.min.js"></script>
    <script>
        $(function () {
            GetHeaderPartial();
            GetFooterPartial();
            GetAppInfo();
        })
        function GetHeaderPartial() {
            $.ajax({
                url: "/Home/headerPartial",
                type: "GET",
                data: null,
                success: function (response) {
                    $('#ul_menu').html(response);
                },
                error: function (result) {
                    console.log("Save Error", result);
                }
            });
        }
        function GetFooterPartial() {
            $.ajax({
                url: "/Home/footerPartial",
                type: "GET",
                data: null,
                success: function (response) {
                    $('#footerTab').prepend(response);
                },
                error: function (result) {
                    console.log("Save Error", result);
                }
            });
        }
        function GetAppInfo() {
            $.ajax({
                url: "/Home/GetAppInfo",
                type: "GET",
                data: null,
                success: function (response) {
                    $('#FBLink').attr('href', response.facebookUrl);
                    $('#INSTALink').attr('href', response.instagramUrl);
                    $('#GGLLink').attr('href', response.googleUrl);
                },
                error: function (result) {
                    console.log("Save Error", result);
                }
            });
        }
    </script>
</body>
</html>