
@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Areas/Receptionist/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/plugins/forms/extended/form-extended.min.css">
<style>
    .btn-quantity.style-1 {
        width: 90px;
    }

    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }

        .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

    .btn-quantity.style-1 input {
        border: 0 none;
        font-size: 14px;
        padding: 0 25px;
        text-align: center;
        margin-top: 8px;
    }

    .input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }

    .btn-quantity.style-1 .bootstrap-touchspin .input-group-btn-vertical {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .bootstrap-touchspin .input-group-btn-vertical {
        position: absolute;
        right: 0;
        height: 100%;
        z-index: 11;
    }

    .btn-quantity.style-1 .input-group-btn-vertical button:first-child {
        right: 0;
    }

    .btn-quantity.style-1 .input-group-btn-vertical button {
        height: 25px;
        width: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
        border-radius: 0 4px 0 0;
        top: 0;
    }

    .bootstrap-touchspin .input-group-btn-vertical > .btn {
        position: absolute;
        right: 0;
        height: 50%;
        padding: 0;
        width: 2em;
        text-align: center;
        line-height: 1;
    }

    button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
        cursor: pointer;
    }

    .btn-quantity.style-1 .input-group-btn-vertical button:last-child {
        left: 0;
    }

    .btn-quantity.style-1 .input-group-btn-vertical button {
        height: 25px;
        width: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
        border-radius: 0 0 4px 0;
        bottom: 0;
    }

    .bootstrap-touchspin .input-group-btn-vertical > .btn {
        position: absolute;
        right: 0;
        height: 50%;
        padding: 0;
        width: 2em;
        text-align: center;
        line-height: 1;
    }

    button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
        cursor: pointer;
    }
</style>

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h2>
                    Place Order<img src="~/assets/images/piano/Bg-transparent/Ingredient-removebg-preview.png" height="30" class="ml-2" />
                </h2>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div id="AddItem" class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div id="form_validation" method="POST">

                            <div class="row mt-4">
                                <div class="col-12">
                                    <a id="num1" class="btn btn-primary text-white"><i class="fas fa-plus mr-2 text-white"></i>Add Item</a>

                                </div>
                            </div>
                            <div id="targetDIV">

                            </div>
                            <button onclick="next()" class="btn btn-raised btn-primary btn-round waves-effect mb-4 mt-4" style="float:right" type="submit">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            @*Payment*@

            <div id="pay" class="col-lg-12 col-md-12 col-sm-12 d-none">
                <div class="card">
                    <div class="body">
                        <div id="form_validation" method="POST">

                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5>Amount to Pay <b>$46</b> </h5>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4">
                                    <label>Select Payment Method</label>
                                    <div>
                                        <input type="radio" id="Cash" name="Cash" class="mr-1" checked value="">
                                        <label class="font-13 font-bold"> Cash</label><br>
                                        <input type="radio" class="mr-1" id="card" name="Cash" value="">
                                        <label class="font-13 font-bold"> Card</label><br>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4">
                                    <label>Order type</label>
                                    <div>
                                        <input type="radio" id="Takeaway" name="type" class="mr-1" checked value="">
                                        <label class="font-13 font-bold"> Takeaway</label><br>
                                        <input type="radio" class="mr-1" id="receptionist" name="type" value="">
                                        <label class="font-13 font-bold"> Dine-In</label><br>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4">
                                    <label>Table Number</label>
                                    <select class="form-group form-float show-tick w-100 mt-2">
                                        <option value="" disabled selected>-- Select Table</option>
                                        <option value="">Table no 01</option>
                                        <option value="">Table no 02</option>
                                        <option value="">Table no 03</option>
                                        <option value="">Table no 04</option>

                                    </select>
                                </div>
                            </div>
                            <div id="cardDiv" style="display:none" class="row mt-3">
                                <div class="card">
                                    <div class="card-content collapse show">
                                        <div class="card-body">
                                            <div class="row w-100">
                                                <div class="col-md-6 col-sm-12 col-12">
                                                    <div class='card-wrapper mb-2 float-left'></div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-12">
                                                    <form action="#" class="card-form">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12 col-12">
                                                                <fieldset class="mb-1">
                                                                    <h5>Card Number</h5>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control card-number" name="number" id="card-number" maxlength="19" placeholder="Card Number">
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 col-12">
                                                                <fieldset class="mb-1">
                                                                    <h5>Card Name</h5>
                                                                    <div class="form-group">
                                                                        <input type="text" maxlength="15" class="form-control card-name" name="name" id="card-name" placeholder="Card Holder Name">
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12 col-12">
                                                                <fieldset class="mb-1">
                                                                    <h5>Expiry Date</h5>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control card-expiry" name="expiry" id="card-expiry" placeholder="Card Expiry Date">
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 col-12">
                                                                <fieldset class="mb-1">
                                                                    <h5>CVC</h5>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control card-cvc" name="cvc" id="card-cvc" maxlength="16" placeholder="Card CVC Number">
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5>Customer Info</h5>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4">
                                    <div class="form-group form-float">
                                        <label>Name</label>
                                        <input type="text" class="form-control mt-1" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4">
                                    <div class="form-group form-float">
                                        <label>E-mail</label>
                                        <input type="email" class="form-control mt-1" placeholder="E-mail" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4">
                                    <div class="form-group form-float">
                                        <label>Phone Number</label>
                                        <input type="number" class="form-control mt-1" placeholder="Phone Number" required>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-row float-right">
                                <button onclick="back()" class="btn btn-raised btn-secondary btn-round waves-effect mb-4 mt-4" style="float:right">Previous</button>
                                <button onclick="PlaceOrder()" class="btn btn-raised btn-primary btn-round waves-effect mb-4 mt-4" style="float:right" type="submit">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Confirmation*@

            <div id="confirmation" class="col-lg-12 col-md-12 col-sm-12 d-none">
                <div class="card">
                    <div class="body">
                        <div id="form_validation" method="POST">

                            <div class="row mt-4">
                                <div class="col-12">
                                    <img src="~/assets/images/piano/cooking.png" class="d-flex m-auto" height="100" />
                                    <span class="font-22 d-flex justify-content-center">Your order has been received!</span>
                                    <br />
                                    <p class="text-center font-18">Your Order Number: #123456 </p>
                                    <p class="text-center font-18">You will receive a confirmation email with your order number along with information how to track your order.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Validation -->
            <div class="modal fade bs-example-modal-md mt-5" id="ingredients" tabindex="-1" role="dialog" aria-labelledby="ingredients" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="formModal">Ingredients</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="mt-1 mr-2" type="checkbox" id="topping" name="topping" value=""><label>Extra Topping:</label><span class="float-right">$25</span>
                                </div>
                                <div class="col-md-12">
                                    <input class="mt-1 mr-2" type="checkbox" id="topping" name="topping" value=""><label>Extra Topping:</label><span class="float-right">$25</span>
                                </div>
                                <div class="col-md-12">
                                    <input class="mt-1 mr-2" type="checkbox" id="topping" name="topping" value=""><label>Extra Topping:</label><span class="float-right">$25</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</section>


<script src="~/assets/app-assets/vendors/js/forms/extended/card/jquery.card.js" type="text/javascript"></script>
<script src="~/assets/app-assets/js/scripts/forms/extended/form-card.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            if ($('#card').prop("checked") == true) {
                $('#cardDiv').css("display", "flex");
            }
            else if ($('#card').prop("checked") == false) {
                $('#cardDiv').css("display", "none");
            }
        });
    });



    $('#num1').on('click', function () {
        //$("#targetDIV").empty();

        var targetDiv = $("#targetDIV");


        targetDiv.append('<div class="p-2 mt-1">' +

            '<div class="form-row">' +

            '<div class="col-md-3"><label>Select Category</label>' +
            '<select class="form-control form-float show-tick w-100">' +
            '<option value="" disabled selected>-- Select Category</option>' +
            '<option value="10">PIZZE SPECIALI</option>' +
            '<option value="20">DRINKS</option>' +
            '</select>' +
            '</div>' +

            '<div class= "col-md-3" > <label>Select Product</label>' +
            '<select class= "form-control form-float show-tick w-100" > ' +
            '<option value = "" disabled selected > --Select Product</option > ' +
            '<option value = "10"> Lazania Pizza</option > ' +
            '<option value = "20"> Kabab Pizza</option > ' +
            '</select> ' +
            '</div> ' +



            '<div class="col-md-2">' +
            '<div class="quantity btn-quantity style-1 m-auto">' +
            '<label>Quantity</label>' +
            '<div class="input-group  bootstrap-touchspin bootstrap-touchspin-injected"><input id="demo_vertical2" type="text" value="1" name="demo_vertical2" class="form-control"><span class="input-group-btn-vertical"><button class="btn btn-primary bootstrap-touchspin-up " type="button">+</button><button class="btn btn-primary bootstrap-touchspin-down " type="button">-</button></span></div>' +
            '</div>' +
            '</div>' +

            '<div class= "col-md-2">' +
            '<div style="margin-top:35px!important">' +
            '<a class="btn-sm btn-primary m-auto text-white" style="cursor:pointer!important" data-toggle="modal" data-target="#ingredients">Add Ingredients</a>' +
            '</div> ' +
            '</div>' +


            '<div class="col-md-2 m-auto">' +
            '<label>Total Price</label>' +
            '<p class="mt-2">$25</p>' +
            '</div>' +

            '</div>' +
            '<hr>' +

            '</div>');

        $(".bootstrap-touchspin-down").click(function () {
            var itemCount = $('#demo_vertical2').val();
            itemCount -= 1;
            if (itemCount >= 0) {
                document.getElementById('demo_vertical2').value = itemCount;
            }
        });
        $(".bootstrap-touchspin-up").click(function () {
            var itemCount = $('#demo_vertical2').val();
            var count = parseInt(itemCount);
            count = count + 1;
            if (itemCount <= 9999) {
                document.getElementById('demo_vertical2').value = count;
            }
        });
    });

    function next() {
        $("#AddItem").addClass("d-none");
        $("#pay").removeClass("d-none");
    }

    function back() {

        $("#pay").addClass('d-none');
        $("#AddItem").removeClass('d-none');
    }

    function PlaceOrder() {
        $("#pay").addClass('d-none');
        $("#confirmation").removeClass('d-none');
    }
</script>