@model IEnumerable<Entities.BranchVms>
@inject piano_pizza.Resources.LocalizationService local
@{
    Layout = null;
}
<li class="niche-templates">
    <a href="@Url.Action("Index","Home")">@local.GetLocalizedHtmlString("Home")</a>
</li>
@foreach (var i in Model)
{
    <li class="active">
        <a href="@Url.Action("Index","Menu",new {BranchName = i.Name})">@i.Name</a>
    </li>
}


