
@{
    ViewBag.Title = "ReceptionistProfile";
    Layout = "~/Areas/Receptionist/Views/Shared/_Layout.cshtml";
}


<section class="content profile-page">
    <div class="block-header">
        <div class="row">
            <div class="col-12">
                <h5>Profile</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <form class="card member-card" id="PhotoUpload123">

                    <div class="header l-cyan">

                    </div>

                    <div class="member-img">
                        <div class="col-md-12 mb-1">
                            <input type="file" accept="image/*" name="imageFile" id="file" onchange="loadFile(event)" style="display: none" />

                            <label for="file" style="cursor: pointer;">
                                <span class="position-absolute rounded-circle bg-white pl-1 pr-1 pt-1 " style="margin-left: 102px;margin-top: 115px;">
                                    <i class="fas fa-camera font-18 text-black"></i>
                                </span>
                                <img src="~/assets/images/profile_av.jpg" class="rounded-circle" id="output" style="max-width:146px;min-width: 146px !important;max-height:146px; min-height: 146px !important" />
                            </label>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <a id="PhotoChange" class="btn btn-primary rounded-pill text-white">Update Photo</a>
                    </div>

                </form>

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card mb-4">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#project">Overview</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timeline">Settings</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="project">
                        <div class="card">
                            <div class="header bline">
                                <h2>Edit Profile</h2>
                            </div>
                            <form class="body" style="padding: 20px 20px 9px 20px!important;" id="NameChange">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-12">
                                        <div class="form-group">
                                            <input type="text" maxlength="10" class="form-control" id="AdminName" name="Name" value="John Doe" placeholder="Name">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-12">
                                        <div class="form-group">
                                            <input type="email" name="Email" value="admin@gmail.com" readonly class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <a id="NameChange" class="btn btn-primary btn-round mt-3 text-white">Save Changes</a>
                            </form>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="timeline">
                        <div class="card">
                            <div class="header bline">
                                <h2>Change Password</h2>
                            </div>
                            <div class="body" style="padding: 20px 20px 9px 20px!important;">
                                <form class="row" id="PasswordChange">
                                    <div class="col-md-4 col-sm-12 col-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="current_password" name="OldPassword" placeholder="Current Password">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="new_password" name="NewPassword" placeholder="New Password">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="confirm_password" name="ConfirmPassword" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </form>

                                <a id="PassChange" class="btn btn-primary btn-round mt-3 text-white">Save Changes</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

